.toggleButton {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 5%;
  bottom: 75px;
  background-color: black;
  border: 2px solid var(--pink);
  width: 42px;
  height: 42px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 100;
  color: var(--pink);
  opacity: 0.7;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
  &:active {
    scale: 0.9;
  }
  &.active {
    background-color: var(--pink);
    color: white;
    opacity: 1;
    box-shadow: 0 0 15px 2px rgba(255, 104, 104, 0.5),
      0px 5px 30px 5px rgba(255, 104, 104, 0.25);
  }
}

.newMessageCountDiv {
  position: relative;
  width: 100%;
  height: 0px;
}

.newMessageCount {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translateY(-20px) translateX(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: var(--pink);
  border-radius: 50%;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  visibility: hidden;
  &.active {
    visibility: visible;
    animation: newMessageCountJump 0.3s linear;
  }
}

@keyframes newMessageCountJump {
  0% {
    transform: translateY(-20px) translateX(15px);
  }
  40% {
    transform: translateY(-25px) translateX(15px);
  }
}

.chatIcon {
  width: 25px;
  height: 25px;
}

.loginDiv {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  z-index: 40;
  visibility: hidden;

  h3 {
    width: 100%;
    text-align: start;
    font-weight: bold;
    color: var(--pink);
    margin: 0px;
  }
  p {
    width: 100%;
    text-align: start;
    margin: 0px;
    color: rgb(165, 165, 165);
    font-size: 0.9rem;
  }
  .loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--pink);
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;

    &:hover {
      background-color: var(--pink-light);
    }
  }
  &.active {
    visibility: visible;
  }
}

.logoutButton {
  padding: 3px 6px;
  border: none;
  color: grey;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: black;
  &:hover {
    background-color: var(--pink);
    color: white;
  }
}

.chatRoomContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  right: 5%;
  bottom: 15%;
  padding: 10px;
  background-color: black;
  border: 1px solid var(--pink);
  border-radius: 10px;
  max-width: 90%;
  width: 430px;
  z-index: 30;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden; /* Hide the element initially */

  &.active {
    bottom: 20%;
    opacity: 1;
    visibility: visible; /* Hide the element initially */
  }
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-weight: bold;
    margin: 0;
    color: var(--pink);
  }
}

.topRightDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: var(--pink);
  cursor: pointer;
  .closeIcon {
    width: 15px;
    height: 15px;
    transition: transform 0.2s linear;
  }

  &:hover {
    background-color: var(--pink);
    color: white;
  }
  &:active {
    scale: 0.9;
  }
}

.chatRoom {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(22, 22, 22);
  padding: 10px;
  height: 300px;
  width: 100%;
  border-radius: 5px;
  overflow-y: scroll;
  scrollbar-color: var(--pink) rgb(0, 0, 0, 0);
}

.input {
  background-color: rgb(58, 58, 58);
  outline: none;
  color: white;
  border: none;
  font-size: 0.9rem;

  &::placeholder {
    color: rgb(190, 190, 190);
  }
  &:focus,
  &:active {
    background-color: rgb(59, 59, 59);
    color: white;
    outline: none;
    box-shadow: none;
  }
}

.sendButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
  color: rgb(128, 128, 128);
  background-color: rgb(22, 22, 22);
  border: none;
  outline: none;
  box-shadow: none;
  transition: none;
  pointer-events: none;

  &.active {
    background-color: var(--pink);
    color: white;
    pointer-events: auto;
    &:hover,
    &:focus,
    &:active {
      border: none;
      outline: none;
      box-shadow: none;
      color: white;
      background-color: var(--pink-light);
    }
    &:active {
      scale: 0.96;
    }
  }

  &:hover,
  &:focus,
  &:active {
    border: none;
    outline: none;
    box-shadow: none;
    color: rgb(128, 128, 128);
    background-color: rgb(22, 22, 22);
  }
}

.sendIcon {
  padding: 4px 10px;
}

.message {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0px;
  font-size: 0.95rem;
  max-width: 60%;
}

.messageDate {
  font-size: 0.7rem;
  color: rgb(138, 138, 138);
}

.luMessageDiv {
  display: flex;
  align-items: start;
  gap: 5px;
  img {
    width: 22px;
    height: 22px;
    border-radius: 2px;
    margin-top: 3px;
  }
}

.luMessage {
  align-self: flex-start;
  background-color: var(--pink);
}

.luMessageDate {
  font-size: 0.7rem;
  color: rgb(138, 138, 138);
  margin-left: 30px;
}

.userMessageDiv {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 5px;
}

.userMessage {
  align-self: flex-end;
  background-color: #368ee0;
  span {
    margin-left: auto;
  }
}

.serverMessageDiv {
  display: flex;
  width: 100%;
  animation: var(--kf-shakeY) 0.5s ease-in-out;
  .serverMessage {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    align-self: center;
    background-color: rgb(161, 161, 161);
    color: rgb(43, 42, 42);
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
    max-width: 100%;

    .serverIcon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
    span {
      margin: auto;
    }
  }
}

.errorSpan {
  color: var(--pink);
  font-size: 0.9rem;
  visibility: hidden;

  &.active {
    animation: var(--kf-shakeY) 0.5s ease-in-out;
    visibility: visible;
  }
}

@media (min-width: 1200px) {
  .toggleButton {
    right: 7%;
  }
  .chatRoomContainer {
    right: 7%;
  }
}

@media (min-width: 1800px) {
  .toggleButton {
    right: 10%;
  }
  .chatRoomContainer {
    right: 10%;
  }
}
