:root {
  --black: black;
  --gray: rgb(176, 176, 176);
  --gray-dark: rgb(125, 125, 125);
  --pink: #e8304f;
  --pink-light: rgb(244, 95, 120);
  --pink-dark: #b6384d;
}

/* button */
.button-pink {
  background-color: var(--pink);
  color: white;
  border: none;
}
.button-pink:hover {
  background-color: var(--pink-light);
  color: white;
  border: none;
}

button:hover {
  background-color: var(--pink-light);
}

/* background */
.bg-black {
  background-color: var(--black);
}

/* border */
.border-red {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.border-green {
  border: 1px solid green;
}
