@import url('./color.css');

:root {
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-size: 1.2rem;
}

.link {
  color: var(--gray-dark);
}

.link:hover {
  color: var(--pink-light);
}
