@import url('./App.css');
@import url('./color.css');
@import url('./animation.css');

:root {
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
  font-family: 'Noto Sans', sans-serif;
}

.page {
  margin-top: 100px;
  min-height: 100vh;
}

p {
  font-size: 17px;
}

.link {
  color: var(--gray-dark);
}

.link:hover {
  color: var(--pink-light);
}

/* font size */
.font-1 {
  font-size: 1;
}
