.backgroundImage {
  position: fixed;
  top: 0px;
  right: 50%;
  transform: translateX(140%);
  z-index: -1;
  height: 800px;
  opacity: 0;
  filter: brightness(0.5);
  transition: opacity 0.3s linear;
}

@media (max-width: 1600px) {
  .backgroundImage {
    filter: brightness(0.5);
  }
}

@media (max-width: 990px) {
  .backgroundImage {
    filter: brightness(0.4);
  }
}

@media (max-width: 760px) {
  .backgroundImage {
    filter: brightness(0);
  }
}
