.mainContainer {
  margin-top: 100px;
}

.container {
  position: relative;
  margin-bottom: 50px;
}

.coverImage {
  margin-top: 15px;
  width: 600px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
  cursor: pointer;
}

.coverImage:hover {
  transform: scale(1.02);
}

.postTitle {
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.description {
  cursor: default;
}

.container:hover .postTitle {
  color: rgb(255, 255, 255);
  animation: text-glow-white 1.2s ease-in-out infinite alternate;
}

.container:hover .coverImage {
  filter: saturate(1.2) brightness(1.05) contrast(0.95);
}

@keyframes text-glow-white {
  from {
    text-shadow: 0 0 5px #ffffff, 0 0 50px #ffffffe1, 0 0 200px #ff0000d6;
  }
  to {
    text-shadow: 0 0 10px #ffffff, 0 0 30px #ffffff, 0 0 100px #ff0000d6;
  }
}

// meta
.metaContainer {
  p {
    margin: 0;
  }
}

// tag
.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}
.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 4px 6px;
  text-transform: capitalize;
  color: var(--gray);
  border: 1.4px solid var(--gray);
  border-radius: 4px;
  font-size: 0.855rem;
  cursor: default;
}

.tag img {
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 1200px) {
  .postLink:hover .coverImage {
    transform: scale(1.01);
  }
}
