// banner
.bannerContainer {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 40px;
  overflow: hidden;
}

.bannerDiv {
  position: relative;;
  height: 500px;
}

.bannerDiv::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 2%,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 1) 98%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 2;
  pointer-events: none;
}

.banner {
  position: relative;
  height: 100%;
  pointer-events: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 10rem;
  font-weight: bold;
  cursor: default;
  pointer-events: none;
  user-select: none;
  animation: title-flicker 1s alternate infinite;
}

@keyframes title-flicker {
  from {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5),
      0 0 50px rgba(255, 255, 255, 0.4), 0 0 1000px rgba(255, 255, 255, 0.2);
  }
  to {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.5), 0 0 1000px rgba(255, 255, 255, 0.6);
  }
}

@media screen and (min-width: 1200px) {
  .bannerContainer {
    display: flex;
  }
}
